<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">

</head>

<body style="background-color: #f4f4f4">
<div class="container " style="padding:2rem">
    <div class="row">
        <div class="col-md-12">
            <h4> <%= val.name %> </h4> 
            <img style="max-width: 50%;" src="<%= val.image_url %>" /> 
        </div>
        <% for(let i = 0; i < uberData.length; i++) { %>
            <div class="card col-md-2" style="margin: 2.8px; padding: 5px;">
                <h3> <%= uberData[i].display_name %> </h3>
                <hr/>
                <p> $<%= uberData[i].low_estimate %></p>
                <button class="btn btn-primary">Go!</button>
            </div> 
            <% } %>
            <% for(let i = 0; i < lyftData.length; i++) { %>
                <div class="card col-md-2" style="margin: 2.8px; padding: 5px;">
                    <h3> <%= lyftData[i].display_name %> </h3>
                    <hr/>
                    <p> $<%= lyftData[i].estimated_cost_cents_min %></p>
                    <button class="btn btn-primary">Go!</button>
                </div> 
                <% } %>
        
    </div>
</div>
</body>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.min.js"
        integrity="sha384-zDnhMsjVZfS3hiP7oCBRmfjkQC4fzxVxFhBx8Hkz2aZX8gEvA/jsP3eXRCvzTofP"
        crossorigin="anonymous">
</script>

</html>